
#b3 {
    width: 15vw;
    height: 10vh;
    border-radius: 8px;
    color: #ffffff;
    background-color: #1f2626;
    border: #1fc409;
}

#b4 {
    width: 15vw;
    height: 10vh;
    border-radius: 8px;
    color: #ffffff;
    background-color: #1f2626;
    border: #e72828;
}

#b5 {
    width: 15vw;
    height: 10vh;
    border-radius: 8px;
    color: #ffffff;
    background-color: #1f2626;
    border: #e72828;
}

#b6 {
    width: 15vw;
    height: 10vh;
    border-radius: 8px;
    color: #ffffff;
    background-color: #1f2626;
    border: #e72828;
}
