@media (min-width: 796px){
    #buton1 {
    width: 45%;
    height: 5vh;
    margin: 0.6% 2%;
    border-radius: 5px;
}
.Search-filds {
    /* width: 20.11vw; */
    width: 25.4%;
    height: 5vh;
    margin: 0.5% 1%;
    border-radius: 5px;
    font-size: 18px;
    
}
}

@media (min-width: 778px){
    #buton1 {
    width: 45%;
    height: 5vh;
    margin: 0.6% 2%;
    border-radius: 5px;
}

.Search-filds {
    /* width: 20.11vw; */
    width: 25.4%;
    height: 5vh;
    margin: 0.5% 1%;
    border-radius: 5px;
    font-size: 15px;
    
}
}

@media (min-width: 412px) {
    #buton1 {
    width: 25%;
    height: 5vh;
    margin: 0.6% 2%;
    border-radius: 5px;
    font-size: 15px;
}

.bottom_header{
    padding-left: 54vw;

}

.head-logo {
  max-width: 20%;
  height: auto;
}
.Search-filds {
    /* width: 20.11vw; */
    width: 25%;
    height: 5vh;
    margin: 0.5% 1%;
    border-radius: 5px;
    font-size: 15px;
    
}
}